body {
  margin-bottom: 40px;
  margin-top: 40px;
}
.btn-warning {
  border-radius: 20px;
  margin-bottom: 10px;
}
h1 {
  font-family: "Courgette", cursive;
  font-size: 20px;
}
h2 {
  color: #e02884;
}
.fa-temperature-high {
  color: orange;
  padding-right: 10px;
}
.fa-temperature-low {
  color: blue;
  padding-right: 10px;
}
.fa-wind {
  color: grey;
  position: relative;
  left: 10px;
}

.fa-sun {
  font-size: 40px;
  color: #ee8417;
  position: relative;
  left: 12px;
}
.fa-cloud-sun-rain {
  font-size: 40px;
  color: blue;
  position: relative;
  left: 12px;
}

.fa-cloud {
  font-size: 40px;
  color: grey;
  position: relative;
  left: 12px;
}

.fa-cloud-sun {
  font-size: 40px;
  position: relative;
  left: 12px;
}

.fa-tint {
  position: relative;
  left: 20px;
}
.card-title {
  font-family: "Courgette", cursive;
  text-align: center;
}
.card-text {
  text-align: center;
}
.container {
  max-width: 850px;
}
.temperature {
  font-size: 40px;
}
.units {
  position: relative;
  top: -20px;
}
.card {
  border: 1px solid;
  color: #e02884;
}
.source-code {
  text-align: center;
}
.capitalize {
  text-transform: capitalize;
}
.clearfix .active {
  color: black;
  cursor: default;
}
.clearfix .active:hover {
  text-decoration: none;
}
img {
  height: 70px;
  width: 70px;
}
